{% extends 'base.html' %}

{% block content %}
  <h2>Intake List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Semester Name</th>
      </tr>
    </thead>
    <tbody>
      {% for intake in intakes %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ intake.name }}</td>
          <td>{{ intake.sem_name }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No intakes found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
