{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="mt-5">
  <h1 class="mb-4">{% if form.instance.pk %}Update Subject{% else %}Create Subject{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.sub_code.label_tag }} {{ form.sub_code }}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.sub_name.label_tag }} {{ form.sub_name }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.credit.label_tag }} {{ form.credit }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        {{ form.semester.label_tag }} {{ form.semester }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#id_semester_type').change(function () {
        var semester_type_id = $(this).val();
        console.log('Selected Semester Type ID:', semester_type_id);  // Debugging line

        if (semester_type_id) {
            $.ajax({
                url: "{% url 'filter_semesters' %}",
                data: {
                    'semester_type_id': semester_type_id
                },
                success: function (data) {
                    console.log('AJAX Success Data:', data);  // Debugging line
                    $("#id_semester").html(data.options);
                },
                error: function (xhr, status, error) {
                    console.error('AJAX Error:', status, error);  // Debugging line
                }
            });
        } else {
            $("#id_semester").html('<option value="">---------</option>');
        }
    });
  });
</script>
{% endblock %}
