{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="exam-container">    
    <h1 class="text-center">Dhaka International University (DIU)</h1>

    <h3 class="text-center">Faculty of Science & Engineering</h3>

    <p class="text-center"> Department of {{ exam.department_name.dept_name|default:'' }}</p>

    <p class="text-center">Subject : {{ exam.subject_name.sub_name|default:'' }}</p>
    <p class="text-center">Subject code : {{ exam.subject_name.sub_code|default:'' }}</p>

    <p class="text-center">Semester : {{ exam.semester_name.name|default:'' }}</p>
    <p class="text-center">Batch number: {{ exam.batch_number|default:'' }}</p>
    <p class="text-center">{{ exam.name }} Exam</p>
    <div class="exam-info">
        <span>Total Time: {{ exam.time|default:'' }}</span>
        <span class="float-right">Total Marks: {{ exam.marks|default:'' }}</span>
    </div>
    <table class="table table-bordered"> 
        <thead>
        </thead>
        <tbody>
            <tr>
                <th colspan="3" class="text-center">Group A <br> (Answer any two of the three questions) </th>
                <hr>
            </tr>
            <tr>
                <th scope="row">{{ exam.q1_number|default:'' }}: {{ exam.q1_description|default:'' }}</th>
                <td></td>
                <td class="text-right">{{ exam.q1_marks|default:'' }}</td>
            </tr>
            <tr>
                <th scope="row">{{ exam.q2_number|default:'' }}: {{ exam.q2_description|default:'' }}</th>
                <td></td>
                <td class="text-right">{{ exam.q2_marks|default:'' }}</td>
            </tr>
            <tr>
                <th scope="row">{{ exam.q3_number|default:'' }}: {{ exam.q3_description|default:'' }}</th>
                <td></td>
                <td class="text-right">{{ exam.q3_marks|default:'' }}</td>
            </tr>
            <tr>
                <th colspan="3" class="text-center">Group B <br>(Answer any one of the two questions) </th>
                <hr>
            </tr>
            <tr>
                <th scope="row">{{ exam.q4_number|default:'' }}: {{ exam.q4_description|default:'' }}</th>
                <td></td>
                <td class="text-right">{{ exam.q4_marks|default:'' }}</td>
            </tr>
            <tr>
                <th scope="row">{{ exam.q5_number|default:'' }}: {{ exam.q5_description|default:'' }}</th>
                <td></td>
                <td class="text-right">{{ exam.q5_marks|default:'' }}</td>
            </tr>
            <tr>
                <th colspan="3" class="text-center">Group C <br>(Compulsory)</th>
                <hr>
            </tr>
            <tr>
                <th scope="row">{{ exam.q6_number|default:'' }}: {{ exam.q6_description|default:'' }}</th>
                <td></td>
                <td class="text-right">{{ exam.q6_marks|default:'' }}</td>
            </tr>
            <div class="text-center mt-4">
                <a href="{% url 'generate_pdf' exam.id %}" class="btn btn-primary">Export as PDF</a>
            </div>
        
        </tbody>
    </table>
</div>
{% endblock %}
