{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Seat Plan for Room {{ room.number }}</h2>
    <p>Number of seats: {{ room.num_seats }}</p>
    <p>Number of columns: {{ room.num_columns }}</p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                {% for column_number in ""|center:room.num_columns %}
                    <th class="text-center">Column {{ forloop.counter }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in seat_layout %}
                <tr>
                    {% for seat in row %}
                        <td>
                            {% if seat and seat.student %}
                                {{ seat.student.roll_number }}<br>
                                {{ seat.student.semester.name }}
                            {% else %}
                                Empty
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'generate_seatplan' room.pk %}" class="btn btn-primary mt-3">Generate Seat Plan</a>
</div>
{% endblock %}
