 {% extends "base.html" %}
{% load static %}
{% block content %}
<div class="exam-container">
    <h2 class="text-center">Dhaka International University</h2>    
    <h3 class="text-center">Dept of CSE</h3>

    <p class="text-center">Room number: {{ room.number }}</p>
    <p class="text-center">Number of seats: {{ room.num_seats }}</p>
    <p class="text-center">Number of columns: {{ room.num_columns }}</p>

    <a href="{% url 'generate_seat_plan' %}" class=" btn-success">Generate seat plan</a>

<table class="table table-bordered table-striped">
  <thead>
  </thead>
  <tbody>
      {% for row in seat_layout %}
          <tr>
              {% for seat in row %}
                  <td>{{ seat }}</td>
              {% endfor %}
          </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
