{% extends "base.html" %}
{% block content %}
<div class="mt-5">
  <h1 class="mb-4">Create Seat Plan for Room {{ room.number }}</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>
    <div class="form-group">
      {{ form.batch.label_tag }}
      {{ form.batch }}
    </div>
    <div class="form-group">
      {{ form.semester.label_tag }}
      {{ form.semester }}
    </div>
    <div class="form-group">
      {{ form.department.label_tag }}
      {{ form.department }}
    </div>
    <div class="form-group">
      {{ form.program.label_tag }}
      {{ form.program }}
    </div>
    <button type="submit" class="btn btn-primary">Save Seat Plan</button>
  </form>
</div>
{% endblock %}
