{% load active_link_tags %}
<div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         {% if user.user_type == '1' %}
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li class="{% active_link 'hod_home' 'active' %}">
               <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i><span>Dashboard</span> </a>
            </li >

            <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
               <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
               <ul>

                  <li><a href="{% url 'add_student' %}">Add Student </a></li>
                  <li><a href="{% url 'view_student' %}">View Student </a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'add_staff' 'active' %} {% active_link 'view_staff' 'active' %}">
               <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teacher </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_staff' %}">Add Teacher</a></li>
                  <li><a href="{% url 'view_staff' %}">View Teacher</a></li>

               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-building"></i> <span> Program </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'program_create' %}">Add Program </a></li>
                  <li><a href="{% url 'program_list' %}">View program </a></li>

               </ul>
            </li>

            <li class="submenu">
               <a href="#"><i class="fas fa-building"></i> <span> Department </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'department_create' %}">Add Department </a></li>
                  <li><a href="{% url 'department_list' %}">View Department </a></li>

               </ul>

            <li class="submenu">
               <a href="#"><i class="fas fa-building"></i> <span> All Curiculam </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'semester_create' %}">Add Batch </a></li>

                 
                  <li><a href="{% url 'semester_list' %}">View Batch </a></li>

                  <li><a href="{% url 'subject_create' %}">Add Subject </a></li>

                  <li><a href="{% url 'subject_list' %}">View Subject </a></li>


               </ul>
            </li>


            <li>
               <a href="{% url 'program_list_curriculam' %}"><i class="fas fa-envelope"></i> <span> Curiculam</span></a>
            </li>

            <li class="submenu">
               <a href="#"><i class="fas fa-building"></i> <span> Seat plan </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'room_create' %}">Add Room </a></li>

                  <li><a href="{% url 'room_list' %}">View Room </a></li>


               </ul>
            </li>

       
            <li>
               <a href="{% url 'staff_send_notification' %}"><i class="fa fa-bell"></i> <span> Send Teacher Notification</span></a>
            </li>

            <li>
               <a href="{% url 'staff_feedback' %}"><i class="fas fa-comments"></i> <span> Teacher Feedback</span></a>
            </li>

            <li>
               <a href="{% url 'staff_leave_view' %}"><i class="fas fa-envelope"></i> <span> Teacher Leave</span></a>
            </li>


            <li><i class=""></i>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
            </li>

         </ul>
         {% elif user.user_type == '2' %}
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>

            <li class="submenu">
               <a href="#"><i class="fas fa-book-reader"></i> <span> Exam Question</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'exam-add' %}">Create Question </a></li>
                  <li><a href="{% url 'exam-list' %}">View Questions </a></li>
               </ul>
            </li>

            <li class="submenu">
               <a href="#"><i class="fas fa-building"></i> <span> Teacher schedule </span> <span class="menu-arrow"></span></a>
               <ul>

                  <li><a href="{% url 'subject_choice_create' %}">Add Teacher schedule </a></li>

                  <li><a href="{% url 'teacher-subject-choice-list' %}">View Teacher schedule</a></li> 


               </ul>
            </li>

            <li class="{% active_link 'staff_apply_leave' 'active' %}">
               <a href="{% url 'staff_apply_leave' %}"><i class="fas fa-envelope-open"></i><span>Apply For Leave</span> </a>
            </li >
            <li class="{% active_link 'staff-feedback' 'active' %}">
               <a href="{% url 'staff-feedback' %}"><i class="fas fa-comment"></i><span>Send Feedback</span> </a>
            </li >
            <li class="{% active_link 'notification' 'active' %}">
               <a href="{% url 'notification' %}"><i class="fas fa-bell"></i><span>Notification</span> </a>
            </li >
             <li><i class=""></i>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout</span></a>
            </li>
            </ul>
         {% else %}


         {% endif%}
      </div>
   </div>
</div>