{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <!-- <h3 class="page-title">Subjects in {{ semester.name }}</h3> -->
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'semester_list_curriculam' semester.department.id semester.semester_type.id %}">Batch</a></li>
                    <li class="breadcrumb-item active">Subjects</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table_id" class="table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>Subject Code</th>
                                    <th>Subject Name</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subject in subjects %}
                                <tr>
                                    <td>{{ subject.sub_code }}</td>
                                    <td>{{ subject.sub_name }}</td>
                                    <td>{{ subject.credit }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
