{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Day-wise Routine for {{ teacher.user.get_full_name }}</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Subject</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for day, routines in weekly_routines.items %}
                <tr>
                    <th scope="row">{{ day }}</th>
                    <td colspan="3">
                        {% if routines %}
                            <ul>
                                {% for routine in routines %}
                                    <li>{{ routine.subject }} - {{ routine.start_time }} to {{ routine.end_time }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No routines scheduled
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
