{% extends 'base.html' %}
{% block content %}
{% load static %}
<script>
   $(document).ready( function () {
       $('#table_id').DataTable();
   } );
</script>
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Teacher</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
               <li class="breadcrumb-item active">Teacher</li>
            </ul>
         </div>
         <div class="col-auto text-right float-right ml-auto">
            <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
            <a href="{% url 'add_staff' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
         </div>
      </div>
   </div>
   {% include 'includes/messages.html' %}
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table id="table_id" class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>Image</th>
                           <th>Email</th>
                           <th>Name</th>
                           <th>Rank</th>
                           <th class="text-right">Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for staff_member in staff %}
                        <tr>
                           <td>{{ staff_member.id }}</td>

                           <td>
                              <a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{staff_member.admin.profile_pic}}" alt="User Image"></a>
                           </td>
                           <td>{{ staff_member.admin.email }}</td>
                           <td>{{ staff_member.admin.first_name }}</td> <!-- Fixed here -->
                           <td>{{ staff_member.get_rank_display }}</td> <!-- Fixed here -->
                           <td class="text-right">
                              <div class="actions">
                                 <a href="{% url 'edit_staff' staff_member.id %}" class="btn btn-sm bg-success-light mr-2">
                                    <i class="fas fa-pen"></i> Edit
                                 </a>
                                 <!-- <a href="{% url 'delete_staff' staff_member.admin.id %}" class="btn btn-sm bg-danger-light">
                                    <i class="fas fa-trash"></i> Delete
                                 </a>  -->
                                  <a href="{% url 'teacher_Subject' staff_member.pk %}" class="btn btn-sm bg-info-light">
                                    <i class="fas fa-eye"></i> View Subject
                                </a>
                                 
                               
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
